# Robot configuration
UR_FAKE_HARDWARE=false
ROBOT_IP=192.168.56.101
UR_TYPE=ur5e

# Middleware configuration
# RMW=cyclone
# RMW=zenoh
# RMW=fastdds

# Network configuration
# ROS_NETWORK_INTERFACE=eth0
